build/
.idea
.settings/
.vscode/
gradle/
gradlew
gradlew.bat
.gradle
.project
application/build
application/out
application/.settings
library/build
out
library/.settings
*.iml
*.class
*.txt
.gitignore
